<div class="description"><%=description%></div>
<ul>
    <% function data(data) { %>
    <li class="item" id="item_<%=data.index%>"><span><%=data.time%></span><a href="<%=data.url%>" class="art"><%=data.title%></a></li>
    <% } %>
    <% datas.map(data) %>
</ul>